xml/companies.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="companies">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="company" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="userId">
                <xs:annotation>
                  <xs:documentation>est un entier entre 1000 et 9000  est un entier entre 1000 et 9000  est un entier entre 1000 et 9000</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="firstname">
                <xs:annotation>
                  <xs:documentation>Obligatoire string  Obligatoire string  Obligatoire string</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="lastname">
                <xs:annotation>
                  <xs:documentation>Obligatoire string  Obligatoire string  Obligatoire string</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="birthday">
                <xs:annotation>
                  <xs:documentation>Date, entre 01/01/1900 et 01/01/2022  Date, entre 01/01/1900 et 01/01/2022  Date, entre 01/01/1900 et 01/01/2022</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="brand" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>