xml/contact.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="company">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="UserIdType" minOccurs="1" name="userId"/>
        <xs:element type="xs:string" name="firstname"/>
        <xs:element type="xs:string" name="lastname"/>
        <xs:element type="xs:string" name="birthday"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="brand"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="UserIdType">
      <xs:restriction base="xs:int">
          <xs:minExclusive value="1000"></xs:minExclusive>
          <xs:maxInclusive value="9000"></xs:maxInclusive>
      </xs:restriction>
  </xs:simpleType>
</xs:schema>
